@model SistemaControleVendasProjeto.Models.NivelAcesso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h2>Nível de Acesso</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAcesso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoAcesso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NivelAcessoID">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
