@model SistemaControleVendasProjeto.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClienteID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PedidoID">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
