@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-vindo(a) ao Sistema de Controle de Vendas!</h1>

    <p> Atenção:
        O acesso é restrito, é preciso autenticar-se para continuar!</p>

    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Index"><button type="button" class="btn btn-info">Entrar</a></button>

</div>

