<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">

            <a class="navbar-brand ml-4" asp-area="" asp-controller="Home" asp-action="Index">Controle de Vendas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
                    </li>
            </div>

            </ul>
            </>
        </div>
    </nav>
</header>

@{
    ViewData["Title"] = "Login";
}

<div class="container">

<div class="row mt-2 mb-2">
<h1>Login</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
</div>

    <div class="row justify-content-center mt-2">

        <form asp-controller="Login" asp-action="Index" method="post">
        <div class="col-4">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
        </div>
        <div class="col-4">
                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
            </div>
     
            
       <div class="col-4 mt-4 justify-content-center">
       <button type="submit" class="btn btn-info">Entrar</button>
       </div>
       
       </form>
    </div>
    </div>